<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet">
</head>
<body>
<h2>Sign Up</h2>
<form class="py-5 text-center" th:action method="post">
    <label>* email</label>
    <input type="text" name="email" />
    <label>* username</label>
    <input type="text" name="username" />
    <label>* password</label>
    <input type="password" name="password" />
    <label>* confirm password</label>
    <input type="password" name="confirm-password"/>
    <label>age</label>
    <input type="number" name="age">
    <label>birth day</label>
    <input type="text" name="birth-day">
    <label>Gender</label>
    <input type="text" name="gender">
    <button>confirm</button>
</form>
</body>
</html>