<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }

        label {
            margin-right: 10px;
            margin-top: 10px;
            align-self: flex-start;
        }


    </style>
</head>
<body>

<div class="container">
    <div class="py-5 text-center">
        <h2>회원 가입</h2>
    </div>
    <h4 class="mb-3">회원 정보 입력</h4>
    <form class="py-5  container" th:object="${user}" th:action method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="err">
                Global error message
            </p>
        </div>
        <div>
            <label for= "email" >Email</label>
            <input class="form-control" th:field="*{email}"  th:errorclass="field-error" type="text" />
            <div class="field-error" th:errors="*{email}">email error</div>
        </div>
        <div>
            <label for="username" >Username</label>
            <input class="form-control" th:field="*{username}" th:errorclass="field-error" type="text" >
            <div class="field-error" th:errors="*{username}">username error</div>
        </div>
        <div>
            <label for="password">Password</label>
            <input class="form-control" th:field="*{password}" th:errorclass="field-error" type="password" />
            <div class="field-error" th:errors="*{password}">password error</div>
        </div>
        <div>
            <label for="confirmPassword">Confirm password</label>
            <input class="form-control" th:field="*{confirmPassword}" th:errorclass="field-error" type="password"/>
            <div class="field-error" th:errors="*{confirmPassword}">confirmPassword error</div>
        </div>
        <div>
            <label for="age">age</label>
            <input class="form-control" th:field="*{age}" th:errorclass="field-error" type="number">
            <div class="field-error" th:errors="*{age}">age error</div>
        </div>
        <div>
            <label for="birthday">Birth day</label>
            <input class="form-control" th:field="*{birthday}" th:errorclass="field-error" type="text">
            <div class="field-error" th:errors="*{birthday}">birthday error</div>
        </div>
        <div>
            <label for="gender">Gender</label>
            <input class="form-control" th:field="*{gender}" th:errorclass="field-error" type="text">
            <div class="field-error" th:errors="*{gender}">gender error</div>
        </div>
        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/}'|">취소</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">회원 가입</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>