<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
<h1>게시판 목록</h1>
<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일자</th>
    </tr>
    </thead>
    <tbody>
    <!-- 게시글 목록 데이터를 동적으로 반복하여 출력 -->
    <tr th:each="post : ${posts}">
        <td th:text="${post.title}"></td>
        <td th:text="${post.author}"></td>
        <td th:text="${{post.createdDate}}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
