name: BE CI

on:
  workflow_dispatch:

  pull_request:
    branches:
      - develop

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
#    defaults:
#      run:
#        shell: bash # 없으면 안되나?

    steps:
      - name: README 확인
        run: touch test.txt


      - name : 기본 shell 이 뭐지?
        run: echo $SHELL

      - name: Checkout code
        uses: actions/checkout@v4

      - name: ls
        run: ls -al

      - name: 파일 삭제가 되나?
        run: |
          rm -rf README.md

      - name: ls
        run: ls -al

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: gradlew 사용 가능하도록 권한 변경
        run: chmod +x gradlew

      - name: Build gradlew
        run: ./gradlew build