name: BE CI

on:
  workflow_dispatch:

  pull_request:
    branches:
      - develop

jobs:
  detach-test:
    runs-on: ubuntu-latest
    outputs:
      main: ${{steps.ffff.outputs.main}}
      test: ${{steps.ffff.outputs.test}}
    steps:
      - uses: dorny/paths-filter@v3
        id: ffff
        with:
          filters: |
            main:
              - 'src/main/**'
            test:
              - 'src/test/**'

  detach-check:
    needs: detach-test
    runs-on: ubuntu-latest

    steps:
      - name: CI main
        if: ${{ needs.detach-test.outputs.main == 'true' }}
        run: echo "hello World main"

      - name: CI test
        if: ${{ needs.detach-test.outputs.test == 'true' }}
        run: echo "hello World test"
