name: BE CI

on:
  workflow_dispatch:

  pull_request:
    branches:
      - develop

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
#    defaults:
#      run:
#        shell: bash # 없으면 안되나?

    steps:
      - name: 권한이 read만 있는데 파일을 만들 수 있을까?
        run: touch test.txt

      - name: 파일이 만들어졌나?
        run: |
          ls -al
          pwd

      - name : 기본 shell 이 뭐지?
        run: echo $SHELL

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: gradlew 사용 가능하도록 권한 변경
        run: chmod +x gradlew

      - name: Build gradlew
        run: ./gradlew build